@{
    ViewBag.Title = "Quienes somos?";
}
<h2>@ViewBag.Title.</h2>

<h3>Proyecto Integral para Programación Avanzada 1.</h3>

<h4>Creador: Jorge Alberto Puente Sánchez - 17100275</h4>
<h4>Instituto Tecnoloógico de Nuevo Laredo - Ingeniería en sistemas computacionales</h4>
