@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://cdn.mos.cms.futurecdn.net/uFicTu3Ti56psJpsTGQ64C.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <h3>Productos</h3>
                <p>Accede directamente al catálogo de productos!</p>
            </div>
        </div>

        <div class="item">
            <img src="https://www.dunnhumby.com/wp-content/uploads/2020/07/ClientSuccessStories_header_1280x668_1@2x-1.jpg" alt="Chicago">
            <div class="carousel-caption">
                <h3>Clientes</h3>
                <p>Necesitas registrar un nuevo cliente? haz click aquí</p>
            </div>
        </div>

        <div class="item">
            <img src="https://miro.medium.com/max/10818/1*qV4tTH8Gv4n9oS6guE9h-g.jpeg" alt="New York">
            <div class="carousel-caption">
                <h3>Compras</h3>
                <p>Aquí podrás encontrar el historial de compras!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Necesitas registrar un nuevo producto?</h2>
        <p>
            Puedes hacerlo directamente desde aquí!
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Registrar producto</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Registrar categoría</h2>
        <p>
            Si necesitas registrar una nueva categoría puedes hacerlo directamente desde aquí
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Registrar categoría</a></p>
    </div>
    <div class="col-md-4">
        <h2>GameWorld</h2>
        <p>
            Este sistema está diseñado para GameWorld!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sobre nosotros</h2>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Quienes somos?</a></p>
    </div>
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@